



  <div class="details"
    style="display: flex;flex-direction: column; align-items: center;justify-content: center;margin-top: 4rem;"
    *ngFor="let bookdata of bookdata">


    <h2>Quantity : {{bookdata?.booking_qty}}</h2>
    <h2>ForeDate : {{bookdata?.booking_foredate}}</h2>
    <h2 *ngIf="bookdata.booking_status === 1">{{bookdata?.jail_name}} accepted your request
      <a [routerLink]="['/Shop/payment']" [queryParams]="{booking_id: bookdata.booking_id}">
        pay now
      </a>
    </h2>
    <h2 *ngIf="bookdata.booking_status === 2">{{bookdata?.jail_name}} rejected your request</h2>
    <h2 *ngIf="bookdata.booking_status === 3">{{bookdata?.jail_name}} Paid
      <a [routerLink]="['/Shop/postcomplaint']" [queryParams]="{booking_id: bookdata.booking_id}">
        complaint
      </a>
      <a [routerLink]="['/Shop/postfeedback']" [queryParams]="{booking_id: bookdata.booking_id}">
        feedback
      </a>
    </h2>








  </div>