




<nav class="navbar  fixed-top navbar-expand-lg bg-body-tertiary p-0">
  <div class="container-fluid main2">
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" routerLink="userhome" routerLinkActive="active"
            ariaCurrentwhenActive="page">Home</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" routerLink="viewjail" routerLinkActive="active"
            style="text-decoration: none;color: black;" ariaCurrentwhenActive="page">jail</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="mybooking" routerLinkActive="active"
            style="text-decoration: none;color: black;" ariaCurrentwhenActive="page">booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="compreply" routerLinkActive="active"
            style="text-decoration: none;color: black;" ariaCurrentwhenActive="page">Complaint Reply</a>
        </li>
       
     
     
      </ul>

      <ul class="navbar-nav  my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;margin-right: 40px;">
        <div class="btn-group dropstart">
          <a routerLinkActive="active" ariaCurrentwhenActive="page" style="text-decoration: none;color: black;"
            class=" dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="shopmyProfile" routerLinkActive="active"
                ariaCurrentwhenActive="page">My Profile</a></li>
            <li><a class="dropdown-item" routerLink="shopeditProfile" routerLinkActive="active"
                ariaCurrentwhenActive="page">Edit Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="shopchangepass" routerLinkActive="active"
                ariaCurrentwhenActive="page">Change Password</a></li>
          </ul>
        </div>
      </ul>
      <div class="btn-group dropstart">

        <span class="material-symbols-outlined " data-bs-toggle="dropdown" aria-expanded="false">
          notifications_active
        </span>

        <ul class="dropdown-menu" style=" height: 40rem;width: 15rem;">
          <div *ngFor="let item of notification">

            <div *ngIf="item.booking_status === 1 && item.clear_status === 0">{{item?.jail_name}} accepted your reques
              <button style="width: 14rem;border: 0;margin-left: 8px;" (click)="clear(item.booking_id)"> clear </button>
            </div>
            <div *ngIf="item.booking_status === 2 && item.clear_status === 0">{{item?.jail_name}} rejected your request
              <button style="width: 14rem;border: 0;margin-left: 8px;" (click)="clear(item.booking_id)"> clear </button>
            </div>

            
          </div>

          <!-- <div *ngFor="let item of notitificationofinfo">

            <div *ngIf="item.apply_status === 1">Admin has accepted your request</div>
            <div *ngIf="item.apply_status === 2">Admin has rejected your request</div>

            <button style="width: 14rem;border: 0;margin-left: 8px;" (click)="clearinfo(item.apply_id)"> clear </button>
          </div> -->
        </ul>
      </div>
    </div>
  </div>

</nav>