<div class="main">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Shop Name</th>
        <th>Shop Contact</th>
        <th>Shop Email</th>
        <th>Shop Address</th>
        <th>ForeDate</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bookdata of bookdata">
        <td>{{bookdata?.product_name}}</td>
        <td>{{bookdata?.booking_qty}}</td>
        <td>{{bookdata?.shop_name}}</td>
        <td>{{bookdata?.shop_contact}}</td>
        <td>{{bookdata?.shop_email}}</td>
        <td>{{bookdata?.shop_address}}</td>
        <td>{{bookdata?.booking_foredate}}</td>
        <td>
          <button class="btn btn-primary mr-3" [disabled]="bookdata.booking_status === 1" (click)="bookstat(bookdata.booking_id)">Accept</button>
          <button class="btn btn-danger" [disabled]="bookdata.booking_status === 2" (click)="bookrejct(bookdata.booking_id)">Reject</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

  

