<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="main">
  <div class="card" style="width: 30rem;height: 14rem; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <div class="card-body">
      <div class="parent">
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">district</span>
          <input type="text" class="form-control w-90" placeholder="district name" aria-label="Username"
            aria-describedby="addon-wrapping" formControlName="district">
        </div>
        <div class="child3">
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive tablediv">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">District</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data; let i = index" class="hover-effect">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item.district_name }}</td>
                <td>
                    <a href="javascript:void(0);" class="btn btn-danger btn-sm mr-5" (click)="deleteRow(item.district_id)">Delete</a>
                    <a href="javascript:void(0);" class="btn btn-primary btn-sm" (click)="getOneDistrict(item.district_id)">Update</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


</form>