/* topnav css */

.topnav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid rgb(157, 153, 153);
}
 .topnav a {
    float: left;
    text-align: center;
    font-size: 17px;
    padding: 14px 16px;

 }

 .menu {
    float: rigth;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #000;
    display: none;
 }

 @media screen and (max-width: 500px){
    .menu
    {
        display: block;
    }
    
 }