<!-- top navbar -->


<nav class="navbar  fixed-top navbar-expand-lg bg-body-tertiary p-0">
    <div class="container-fluid main2">
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="guesthome" routerLinkActive="active"
                        ariaCurrentwhenActive="page">Home</a>
                </li>


               



            </ul>

            <ul class="navbar-nav  my-2 my-lg-0 navbar-nav-scroll"
                style="--bs-scroll-height: 100px;margin-right: 40px;">
                <a routerLink="Login" ariaCurrentwhenActive="page" routerLinkActive="active" style="text-decoration: none; color: black; margin-right: 10px;">
                    Login
                </a>
                <a routerLink="ShopRegister" ariaCurrentwhenActive="page" routerLinkActive="active" style="text-decoration: none; color: black;">
                    Registration
                </a>
                
            </ul>
            
        </div>
    </div>

</nav>