<form [formGroup]="bookForm" class="main">


    <div class="tablediv">
        <table class="table ">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Details</th>
              <th scope="col">photo</th>
              <th scope="col">Rate</th>
              <th scope="col">Quantity</th>
              <th scope="col">Amount</th>
              <th scope="col"> Date</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td> {{productdata.product_name}}</td> 
              <td> {{productdata.product_details}}</td>
              <td> {{productdata.product_photo}}</td>
              <td> {{productdata.product_rate}}</td> 
              <td><input type="number" class="form-control w-90" placeholder="" aria-label="Qantity"  (keyup)="calculate($event)"
                aria-describedby="addon-wrapping"  formControlName="booking_qty"></td>
              <td>{{show}} </td>
                <td><input type="date" class="form-control w-90" placeholder="" aria-label="date"
                    aria-describedby="addon-wrapping"  formControlName="booking_foredate"></td>
                <td><button type="submit" class="btn btn-success"(click)="book(productdata.product_id)">book now</button></td>
              
            </tr>
         
            
          </tbody>
        </table>
      </div>
</form>