<div class="main">
    <div class="card">
        <!-- <div class="img">
        <img src="{{ shopdata?.shop_logo}}" alt="" style="height: 10rem;width: 10rem;">
      </div> -->


        <div class="details"
            style="display: flex;flex-direction: column; align-items: center;justify-content: center;margin-top: 8rem;"
            *ngFor="let item of feedbackdata">

            <h2>Product : {{item?.product_name}}</h2>
            <h2>feedback title : {{item?.feedback_title}}</h2>
            <h2>feedback details : {{item?.feedback_details}}</h2>








        </div>
    </div>