<div class="main">
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Shop Name</th>
                    <th>Feedback Title</th>
                    <th>Feedback Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of feedbackdata">
                    <td>{{item?.product_name}}</td>
                    <td>{{item?.shop_name}}</td>
                    <td>{{item?.feedback_title}}</td>
                    <td>{{item?.feedback_details}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
