<form [formGroup]="complaintForm" (ngSubmit)="onSubmit()"
    style="display: flex; align-items: center; justify-content: center; margin-top: 30px; margin-bottom: 30px;">

    <div class="card-wrapper">
        <div class="card">
            <div class="card-body">
                <div class="head text-center mb-3">
                    <p class="h3">Post Complaint</p>
                </div> 

                <div class="input-group mb-3">
                    <span class="input-group-text">Title</span>
                    <input type="text" aria-label="Title" class="form-control" formControlName="complaint_title"
                        placeholder="Complaint Title">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Details</span>
                    <input type="text" aria-label="Details" class="form-control" formControlName="complaint_details"
                        placeholder="Complaint Details">
                </div>
                
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-success">Send</button>
                </div>
            </div>
        </div>
    </div>
</form>
