<!-- <div class="main">
  <div class="card">
    <div class="details"
      style="display: flex;flex-direction: column; align-items: center;justify-content: center;margin-top: 8rem;"
      *ngFor="let item of complaintdata">

      <h2>Jail Name : {{item?.jail_name}}</h2>
      <h2>Complaint Title : {{item?.complaint_title}}</h2>
      <h2>Complaint Details : {{item?.complaint_details}}</h2>
      <h2>Complaint Reply : {{item?.complaint_reply}}</h2>
    </div>
  </div>
</div> -->

<section id="courses" class="padding-medium">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <table class="table table-striped" >
                  <thead class="thead-dark">
                      <tr>
                          <th scope="col">Jail Name</th>
                          <th scope="col">Complaint Title</th>
                          <th scope="col">Complaint Details</th>
                          <th scope="col">Complaint Reply</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of complaintdata">
                          <td>{{ item?.jail_name }}</td>
                          <td>{{ item?.complaint_title }}</td>
                          <td>{{ item?.complaint_details }}</td>
                          <td>{{ item?.complaint_reply }}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</section>
