<!-- <div class="main">
  <div class="card">
    <div class="details"
      style="display: flex;flex-direction: column; align-items: center;justify-content: center;margin-top: 8rem;"
      *ngFor="let item of complaintdata">

      <h2>Jail Name : {{item?.jail_name}}</h2>
      <h2>Complaint Title : {{item?.complaint_title}}</h2>
      <h2>Complaint Details : {{item?.complaint_details}}</h2>
      <h2>Complaint Reply : {{item?.complaint_reply}}</h2>
    </div>
  </div>
</div> -->

<section id="courses" class="padding-medium">
  <div class="container">
  
    <div class="row">
      <div class="col-sm-6 col-lg-3 col-xl-3 mb-5" style="width: 300px;"  *ngFor="let item of complaintdata">
      
        <div class="card rounded-4 border-0 shadow-sm p-3 position-relative">
          <div class="card-body p-0">

            <div class="d-flex justify-content-between m-0">
              <p class="text-black fw-bold text-uppercase m-0">Jail Name : {{item?.jail_name}}</p>
            </div>
            <div class="d-flex align-items-center">
              <p class="text-black fw-bold text-uppercase m-0">Complaint Title : {{item?.complaint_title}}</p>
            </div>
            <div class="d-flex align-items-center">
              <p class="text-black fw-bold text-uppercase m-0"> Complaint Details : {{item?.complaint_details}}</p>
            </div>
            <div class="d-flex align-items-center">
              <p class="text-black fw-bold text-uppercase m-0"> Complaint Reply : {{item?.complaint_reply}}</p>
            </div>

          

          

          </div>
        </div>
      </div>
    
    </div>

   
  </div>
</section>
