<!-- boostrap css link  -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<!-- boostrap icon  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<!-- google fonts  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<!-- sidebar -->
<div class="sidebar shadow p-1" id="sidebar">
  <ul>
    <li>
      <a routerLink="myprofile" routerLinkActive="active" ariaCurrentWhenActive="page">
        <i class="bi bi-person-badge"></i>Profile</a>
    </li>
    <li>
      <a routerLink="editprofile" routerLinkActive="active" ariaCurrentWhenActive="page">
        <i class="bi bi-person-badge"></i>Edit Profile</a>
    </li>
    <li>
      <a routerLink="changepassword" routerLinkActive="active" ariaCurrentWhenActive="page">
        <i class="bi bi-person-badge"></i>Change Password</a>
    </li>
    <li>
      <a routerLink="category" routerLinkActive="active" ariaCurrentWhenActive="page">
        <i class="bi bi-basket"></i>Add category</a>
    </li>
    <li>
      <a routerLink="viewbooking" routerLinkActive="active" ariaCurrentWhenActive="page">
        <i class="bi bi-basket"></i>View Bookings</a>
    </li>
    <li>
      <a routerLink="viewcomplaint" routerLinkActive="active" ariaCurrentWhenActive="page">
        <i class="bi bi-person-dash"></i>View Complaint</a>
    </li>
    <li>
      <a routerLink="viewfeedback" routerLinkActive="active" ariaCurrentWhenActive="page">
        <i class="bi bi-person-dash"></i>View feedback</a>
    </li>

    <li>
      <a routerLink="product" routerLinkActive="active" ariaCurrentWhenActive="page">
        <i class="bi bi-basket"></i>Add Products</a>
    </li>



    <li>
      <a routerLink="prisioner" routerLinkActive="active" ariaCurrentWhenActive="page">
        <i class="bi bi-person-dash"></i>Add Prisioner</a>
    </li>


    <li><a href="#"><i class="bi bi-box-arrow-right"></i>logout</a></li>

  </ul>
</div>
<!-- sidebar -->