
  <div class="card">
    <div class="bg">
      <div class="img">
        <img src="" alt="">
      </div>
      <div class="name">
        <h2>Name : {{jaildata?.jail_name}}</h2>
        <h2>Email : {{jaildata?.jail_email}}</h2>
        <h2>Contact: {{jaildata?.jail_contact}}</h2>
        <!-- <div style="display:flex;flex-direction: row;font-size: medium;font-style: italic;
        font-weight: 700;
        color: rgb(42, 55, 122);"> -->
          <h2>Address:{{jaildata?.jail_address}}</h2>

      </div>
      <div class="address">
        <h2>

        </h2>
      </div>




    </div>
    <div class="blob"></div>
  </div>
