
<!-- <form [formGroup]="myprofileForm" class="dis">
    <div class="card">
      <div class="bg"> -->
        <!-- <div class="img"> -->
        <!-- <img src="" alt=""> -->
        <!-- </div> -->
        <!-- <div class="name">
          <h2>
  
            user name :{{userdata.user_name}}
            user name :{{userdata.user_contact}}
          </h2> -->
  
          <!-- </div>
         <div class="address">
          <h2>
          
          </h2>
         </div> -->
  
  
  
  
        <!-- </div> -->
        <!-- <div class="blob"></div> -->
      <!-- </div>
    </div>
  </form>
     -->
