<div class="input-group ">

    <span class="input-group-text" style="width: 131px;">category </span>
    <select class="form-select" formControlName="category_id" id="inputGroupSelect01"
    (change)="productfetchdataById($event)" >
       
        <option selected>..category..</option>
        <option [value]="item.category_id" *ngFor="let item of categorydata">{{ item.category_name }}</option>

    </select>
</div>


<!-- <div class="tablediv">
    <table class="table ">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"> name</th>
                <th scope="col"> details</th>
                <th scope="col">photo</th>
                <th scope="col">rate</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productdata;let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item.product_name }}</td>
                <td>{{ item.product_details }}</td>
                <td>{{ item.product_photo }}</td>
                <td>{{ item.product_rate }}</td>
                <td>
                  
                    <a [routerLink]="['/Shop/buyproduct']" [queryParams]="{product_id: item.product_id}">
                      buy product
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>  -->


<section id="courses" class="padding-medium">
    <div class="container">
    
      <div class="row">
        <div class="col-sm-6 col-lg-3 col-xl-3 mb-5" style="width: 300px;" *ngFor="let item of productdata;let i = index">
        
          <div class="card rounded-4 border-0 shadow-sm p-3 position-relative">
            <div class="card-body p-0">
  
              
              <div class="d-flex align-items-center">
                 <img src="{{ item.product_photo }}" width="200">
              </div>
              <div class="d-flex justify-content-between m-0">
                <p class="text-black fw-bold text-uppercase m-0">Product {{ item.product_name }}</p>
              </div>
              <div class="d-flex align-items-center">
                <p class="text-black fw-bold text-uppercase m-0">Details  {{ item.product_details }}</p>
              </div>
              <div class="d-flex align-items-center">
                <p class="text-black fw-bold text-uppercase m-0">rate  {{ item.product_rate }}</p>
              </div>
  
              <a [routerLink]="['/Shop/buyproduct']" [queryParams]="{product_id: item.product_id}">
                buy product
              </a>
  
            
  
            </div>
          </div>
        </div>
      
      </div>
  
     
    </div>
  </section>