<div class="main">
    <div class="card">
      <div class="img">
        <img src="{{ shopdata?.shop_logo}}" alt="" style="height: 10rem;width: 10rem;">
      </div>
  
  
      <div class="details" style="display: flex;flex-direction: column; align-items: center;justify-content: center;margin-top: 8rem;">
  
        <h2>Name : {{shopdata?.shop_name}}</h2>
        <h2>Email : {{shopdata?.shop_email}}</h2>
        <h2>Contact: {{shopdata?.shop_contact}}</h2>
        <h2>ownerName: {{shopdata?.shop_ownername}}</h2>
        <h2>User Name: {{shopdata?.shop_username}}</h2>
        <h2>LicenseProof: {{shopdata?.shop_licenseproof}}</h2>
        <h2>Status: {{shopdata?.shop_status}}</h2>
       
        <h2>Address:{{shopdata?.shop_address}}</h2>
       
        
  
    </div>
  </div>
