







  <!-- top navbar -->


  <nav class="navbar  fixed-top navbar-expand-lg bg-body-tertiary p-0">
    <div class="container-fluid main2">
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" routerLink="userhome" routerLinkActive="active"
              ariaCurrentwhenActive="page">Home</a>
          </li>
  
  
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="viewjail" routerLinkActive="active"
              style="text-decoration: none;color: black;" ariaCurrentwhenActive="page">jail</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="mybooking" routerLinkActive="active"
              style="text-decoration: none;color: black;" ariaCurrentwhenActive="page">booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="compreply" routerLinkActive="active"
              style="text-decoration: none;color: black;" ariaCurrentwhenActive="page">Complaint Reply</a>
          </li> -->
         
       
       
        </ul>
  
        <ul class="navbar-nav  my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;margin-right: 40px;">
          <div class="btn-group dropstart">
            <a routerLinkActive="active" ariaCurrentwhenActive="page" style="text-decoration: none;color: black;"
              class=" dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="myprofile" routerLinkActive="active"
                  ariaCurrentwhenActive="page">My Profile</a></li>
              <li><a class="dropdown-item" routerLink="editprofile" routerLinkActive="active"
                  ariaCurrentwhenActive="page">Edit Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" routerLink="changepassword" routerLinkActive="active"
                  ariaCurrentwhenActive="page">Change Password</a></li>
            </ul>
          </div>
        </ul>
        <div class="btn-group dropstart">
  
          <span class="material-symbols-outlined " data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
              <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"/>
            </svg>
          </span>
  
          <ul class="dropdown-menu" style=" height: 40rem;width: 15rem;">
            <div *ngFor="let item of notification">
  
              <div *ngIf="item.booking_status === 3 && item.clear_status === 0 ">{{item?.shop_name}} payment is done
                <button style="width: 14rem;border: 0;margin-left: 8px;" (click)="clear(item.booking_id)"> clear </button>
              </div>
              <!-- <div *ngIf="item.booking_status === 2 && item.clear_status === 0">{{item?.jail_name}} rejected your request
                <button style="width: 14rem;border: 0;margin-left: 8px;" (click)="clear(item.booking_id)"> clear </button>
              </div> -->
  
              
            </div>
  
            <!-- <div *ngFor="let item of notitificationofinfo">
  
              <div *ngIf="item.apply_status === 1">Admin has accepted your request</div>
              <div *ngIf="item.apply_status === 2">Admin has rejected your request</div>
  
              <button style="width: 14rem;border: 0;margin-left: 8px;" (click)="clearinfo(item.apply_id)"> clear </button>
            </div> -->
          </ul>
        </div>
      </div>
    </div>
  
  </nav>